pip==23.1.2
numpy==1.25.0
click==8.0.4
typer==0.4.1
matplotlib==3.7.1
nltk==3.7
pandas==1.5.3
plotly==5.9.0
scikit_learn==1.2.2
spacy==3.5.3
streamlit==1.16.0
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.0.0/pt_core_news_sm-3.0.0-py3-none-any.whl
